*# Flask and Socket.IO
/__pycache__/
/*.pyc
/instance/
/*.env
*.pyc

# Logs
/logs/

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# Editor and IDE files
.idea/
.vscode/

# Dependency directories
venv/
.venv/
node_modules/
