.ai-message {
    background-color: #e9d6f2;
    text-align: right;
}

/* .chat-window {
    max-width: 600px;
    margin: auto;
    margin-top: 5rem;
    left: 0;
    right: 0;
    height: 300px;
    overflow: auto;
    padding: 10px;
}  */

#chat-window {
    margin-top: 70px;
}


.chat-message {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
}

.client-message {
    background-color: white;
    text-align: left;
}

.custom-container {
    max-width: 33%;
}


.form-control:focus {
    border-color: #46022e; /* default B5 color or set your own color*/
    outline: none !important;
    box-shadow: none !important;
}
