.ai-message {
    background-color: #e9d6f2;
    text-align: right;
}

.btn-dark:hover {
    background-color: #ffffff;
    color: black;
}

.btn-outline-dark:hover {
    background-color: #e9d6f2;
    color: black;
}

.chat-message {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
}

/* .client-message {
    background-color: white;
    text-align: left;
} */

.custom-container {
    max-width: 33%;
}

.elevate-items {
    transform: translateY(-15%);
}

.form-control:focus {
    border-color: #46022e; /* default B5 color or set your own color*/
    outline: none !important;
    box-shadow: none !important;
}

#chat-window {
    margin-top: 70px;
}