.ai-message {
    background-color: #e9d6f2;
    text-align: right;
}

.btn-dark {
    color: white !important;
}

.btn-dark:hover {
    background-color: #ffffff;
    color: black;
}

.btn-outline-dark:hover {
    background-color: #e9d6f2;
    color: black;
}

.chat-message {
    /* border: 1px solid black; */
    border-radius: 30px;
    margin-bottom: 5px;
    max-width: 75%;
    padding: 0px;
    width: fit-content;
}

/* .client-message {
    background-color: white;
    text-align: left;
} */

.custom-container {
    max-width: 33%;
}

.elevate-items {
    transform: translateY(-15%);
}

.form-control:focus {
    border-color: #46022e; /* default B5 color or set your own color*/
    outline: none !important;
    box-shadow: none !important;
}

.response-message {
    margin-right: auto; /* pushes the message to the left */
}


.client-message {
    margin-left: auto; /* pushes the message to the right */
}



#chat-window {
    margin-top: 70px;
}

/* #sidebar, #chat-window {
    height: 100%;
} */

#sidebar {
    z-index: 2;
    margin-top: 70px;
}
